
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.bg-1{
    
    background-size:cover;
    font-family:"Roboto";
    color:white;
    position:relative;
    

}
.mai-heading{
    color:#f06f48;
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    margin-top:20px;
}
.mai-heading-para{
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    margin:none;
    
}
.new-image{
    background-color:#36cff5;
    height:50px;
    width:50px;
    border-radius:25px;
    border:2px solid white;
    margin-top:40px;
    margin-right:10px;
}
.card-part-1{
    background-color:#de9323;
    height:350px;
    width:300px;
    background-size:cover;
    text-align: center;
    

}
.card-part-2{
    background-color:#4bb2c9;
    height:350px;
    width:300px;
    background-size:cover;
    text-align:center;


}
.ss{
    height:100px;
    width:100px;
    color:#de9323;

}
.card-3{
    background-color:#f06f48;
    height:200px;
    width:600px;
    margin-top:25px;
    
}

.card-4{
    background-color:#4bb2c9;
    height:230px;
    width:600px;
    margin-top:25px;
    
    
}


.card-5{
    background-color:#f06f48;
    height:350px;
    width:300px;
    background-size:cover;
    text-align: center;
    margin-top:25px;
    

}
.card-6{
    background-color:#de9323;
    height:350px;
    width:300px;
    background-size:cover;
    text-align:center;
    margin-top:25px;
}


.card-7{
    background-color:#4bb2c9;
    height:200px;
    width:600px;
    margin-top:25px;
    
}
.card-8{
    background-color:#de9323;
    height:200px;
    width:600px;
    margin-top:25px;
    
}


.card-13{
    background-color:#4bb2c9;
    height:350px;
    width:300px;
    background-size:cover;
    text-align: center;
    margin-top:25px;
    

}
.card-14{
    background-color:#f06f48;
    height:350px;
    width:300px;
    background-size:cover;
    text-align:center;
    margin-top:25px;
}
.heading-all{
    font-size:30px;
    font-style:bold;


}
.paragraph-all{
    font-size:px;
    


}

.page{
    text-align:center;
}
.bg-ss{
    background-color:black;
    
}


